page-about {
.getabout{
			background-image: url('../assets/images/aboutus.jpg');
			background-position: center;
			background-size:  100%;
			}
.home-background {
    background: url("../assets/images/aboutus.jpg") no-repeat fixed center; 
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%;
	}
}
