page-appointment {
/*	.scroll-content {
    		margin-bottom: 45px !important;
    		padding-bottom: 0 !important;
	}*/
     .attribute-time{
		align: center;
		ion-list{margin:10px 0}
		ion-item{
			
			width:70px;
			background: #6A5268;
			color:#fff;
			min-height:30px;
			line-height:30px;
			border:2px solid #e1e1e1;
			display:inline-block;
			margin-right:10px;
			margin-bottom:10px;
			&.item-radio-checked{
				border-color:color($colors, primary, base);
				&:after{
					/*font-family:"vspfonts";*/
					font-family:"latolight";
					content:"\e034";
					position:absolute;
					bottom:-2px;
					right:-2px;
					line-height:13px;
					color:color($colors, primary, base);
				}
				ion-label{color:#000}
			}
			.item-inner{
				padding:0!important;
				border-bottom:none!important;
				.input-wrapper{
					ion-label{margin:0}
				}
				ion-radio{
					margin:0;
					.radio-icon{display:none}
				}
			}
		}
	}
	 .head-label {
		background: #6A5268;
		font-size:1.5rem;
		text-align: center;
		color:#fff;
		}
		
	.detail-label {
		font-size:1.9rem;
		text-align: center;
		}
	.timelist-label {
		font-size:1.9rem;
		}
	.checkbox-use-billing{
		.checkbox{margin:0 5px 0 0!important;}
		.item-inner{
			border-bottom:none!important;
			font-size:1.2rem;
		}
	}
	.item{
		&.ng-valid.input-has-value:not(.input-has-focus){
			.item-inner{
				border-bottom-color:#EEF0F3!important;
				box-shadow:none!important;
				/*border-bottom-color: #32db64;
    			box-shadow: inset 0 -1px 0 0 #32db64;*/
			}
			&:last-child{
				border:none;
				box-shadow:none;
			}
		}
	}
	.select-icon{
		transform: rotate(-45deg);
		.select-icon-inner{
			left:0!important;
		}
	}
	
	[col-1] {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 8.33333%;
		-ms-flex: 0 0 8.33333%;
		flex: 0 0 14.285714285714286%;
		width: 14.285714285714286%;
		max-width: 14.285714285714286%;
	  }
	  .col {
		text-align: center;
		padding: 5px;
	  }
	  .last-month, .next-month {
		color: #999999;
		font-size: 90%;
	  }
	  .currentDate, .otherDate {
		padding: 5px;
	  }
	  .currentDate {
		font-weight: bold;
		background-color: red;
		color: white;
		border-radius: 30px;
	  }
	  .calendar-header {
		background-color: #1a732d;
		color: #FFFFFF;
	  }
	  .event-bullet {
		margin: 2px auto;
		height: 5px;
		width: 5px;
		background-color: green;
		border-radius: 30px;
	  }
	  .selected-date {
		width: 20px;
		height: 2px;
		background-color: blue;
	  }
	  .unselected-date {
		border: none;
	  }
	  .calendar-body {
		.grid {
		  padding: 0;
		}
		.col:last-child {
		  border-right: none;
		}
		.calendar-weekday, .calendar-date {
		  text-align: center;
		  margin: 0;
		}
		.calendar-weekday {
		  font-weight: bold;
		  border-bottom: solid 1px #1a732d;
		  background-color: #26ab56;
		}
		.calendar-date {
		  border-top: solid 1px #1a732d;
		  border-bottom: solid 1px #1a732d;
		}
	}
}
