<?xml version='1.0' encoding='utf-8'?>
<widget id="bh.pawprint.app" version="1.1.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Pawprints</name>
    <description>Professional Mobile Pet Parlour</description>
    <author email="limnesh@gmail.com" href="https://www.facebook.com/limnesh.augustine">Limnesh</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="http://ionic.local/*" />
    <allow-navigation href="*youtube*" />
    <allow-navigation href="*ytimg*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="resources/android/icon/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="resources/android/icon/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="resources/android/icon/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="resources/android/icon/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="resources/android/icon/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="resources/android/icon/drawable-xxxhdpi-icon.png" />
        <splash density="land-ldpi" src="resources/android/splash/drawable-land-ldpi-screen.png" />
        <splash density="land-mdpi" src="resources/android/splash/drawable-land-mdpi-screen.png" />
        <splash density="land-hdpi" src="resources/android/splash/drawable-land-hdpi-screen.png" />
        <splash density="land-xhdpi" src="resources/android/splash/drawable-land-xhdpi-screen.png" />
        <splash density="land-xxhdpi" src="resources/android/splash/drawable-land-xxhdpi-screen.png" />
        <splash density="land-xxxhdpi" src="resources/android/splash/drawable-land-xxxhdpi-screen.png" />
        <splash density="port-ldpi" src="resources/android/splash/drawable-port-ldpi-screen.png" />
        <splash density="port-mdpi" src="resources/android/splash/drawable-port-mdpi-screen.png" />
        <splash density="port-hdpi" src="resources/android/splash/drawable-port-hdpi-screen.png" />
        <splash density="port-xhdpi" src="resources/android/splash/drawable-port-xhdpi-screen.png" />
        <splash density="port-xxhdpi" src="resources/android/splash/drawable-port-xxhdpi-screen.png" />
        <splash density="port-xxxhdpi" src="resources/android/splash/drawable-port-xxxhdpi-screen.png" />
        <resource-file src="resources/android/frames/frame00.png" target="app/src/main/res/drawable-port-xxxhdpi/frame00.png" />
        <resource-file src="resources/android/frames/frame01.png" target="app/src/main/res/drawable-port-xxxhdpi/frame01.png" />
        <resource-file src="resources/android/frames/frame02.png" target="app/src/main/res/drawable-port-xxxhdpi/frame02.png" />
        <resource-file src="resources/android/frames/frame03.png" target="app/src/main/res/drawable-port-xxxhdpi/frame03.png" />
        <resource-file src="resources/android/frames/frame04.png" target="app/src/main/res/drawable-port-xxxhdpi/frame04.png" />
        <resource-file src="resources/android/frames/frame05.png" target="app/src/main/res/drawable-port-xxxhdpi/frame05.png" />
        <resource-file src="resources/android/frames/frame06.png" target="app/src/main/res/drawable-port-xxxhdpi/frame06.png" />
        <resource-file src="resources/android/frames/frame07.png" target="app/src/main/res/drawable-port-xxxhdpi/frame07.png" />
        <resource-file src="resources/android/frames/frame08.png" target="app/src/main/res/drawable-port-xxxhdpi/frame08.png" />
        <resource-file src="resources/android/frames/frame09.png" target="app/src/main/res/drawable-port-xxxhdpi/frame09.png" />
        <resource-file src="resources/android/frames/frame10.png" target="app/src/main/res/drawable-port-xxxhdpi/frame10.png" />
        <resource-file src="resources/android/frames/frame11.png" target="app/src/main/res/drawable-port-xxxhdpi/frame11.png" />
        <resource-file src="resources/android/frames/frame12.png" target="app/src/main/res/drawable-port-xxxhdpi/frame12.png" />
        <resource-file src="resources/android/frames/frame13.png" target="app/src/main/res/drawable-port-xxxhdpi/frame13.png" />
        <resource-file src="resources/android/frames/frame14.png" target="app/src/main/res/drawable-port-xxxhdpi/frame14.png" />
        <resource-file src="resources/android/frames/frame15.png" target="app/src/main/res/drawable-port-xxxhdpi/frame15.png" />
        <resource-file src="resources/android/frames/frame16.png" target="app/src/main/res/drawable-port-xxxhdpi/frame16.png" />
        <resource-file src="resources/android/frames/frame17.png" target="app/src/main/res/drawable-port-xxxhdpi/frame17.png" />
        <resource-file src="resources/android/frames/frame18.png" target="app/src/main/res/drawable-port-xxxhdpi/frame18.png" />
        <resource-file src="resources/android/frames/frame19.png" target="app/src/main/res/drawable-port-xxxhdpi/frame19.png" />
        <resource-file src="resources/android/frames/frame20.png" target="app/src/main/res/drawable-port-xxxhdpi/frame20.png" />
        <resource-file src="resources/android/frames/frame21.png" target="app/src/main/res/drawable-port-xxxhdpi/frame21.png" />
        <resource-file src="resources/android/frames/frame22.png" target="app/src/main/res/drawable-port-xxxhdpi/frame22.png" />
        <resource-file src="resources/android/frames/frame23.png" target="app/src/main/res/drawable-port-xxxhdpi/frame23.png" />
        <resource-file src="resources/android/frames/frame24.png" target="app/src/main/res/drawable-port-xxxhdpi/frame24.png" />
        <resource-file src="resources/android/frames/frame25.png" target="app/src/main/res/drawable-port-xxxhdpi/frame25.png" />
        <resource-file src="resources/android/frames/frame26.png" target="app/src/main/res/drawable-port-xxxhdpi/frame26.png" />
        <resource-file src="resources/android/frames/frame27.png" target="app/src/main/res/drawable-port-xxxhdpi/frame27.png" />
        <resource-file src="resources/android/frames/frame28.png" target="app/src/main/res/drawable-port-xxxhdpi/frame28.png" />
        <resource-file src="resources/android/frames/frame29.png" target="app/src/main/res/drawable-port-xxxhdpi/frame29.png" />
        <resource-file src="resources/android/frames/frame30.png" target="app/src/main/res/drawable-port-xxxhdpi/frame30.png" />
        <resource-file src="resources/android/frames/frame31.png" target="app/src/main/res/drawable-port-xxxhdpi/frame31.png" />
        <resource-file src="resources/android/frames/frame32.png" target="app/src/main/res/drawable-port-xxxhdpi/frame32.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="57" src="resources/ios/icon/icon.png" width="57" />
        <icon height="114" src="resources/ios/icon/icon@2x.png" width="114" />
        <icon height="40" src="resources/ios/icon/icon-40.png" width="40" />
        <icon height="80" src="resources/ios/icon/icon-40@2x.png" width="80" />
        <icon height="120" src="resources/ios/icon/icon-40@3x.png" width="120" />
        <icon height="50" src="resources/ios/icon/icon-50.png" width="50" />
        <icon height="100" src="resources/ios/icon/icon-50@2x.png" width="100" />
        <icon height="60" src="resources/ios/icon/icon-60.png" width="60" />
        <icon height="120" src="resources/ios/icon/icon-60@2x.png" width="120" />
        <icon height="180" src="resources/ios/icon/icon-60@3x.png" width="180" />
        <icon height="72" src="resources/ios/icon/icon-72.png" width="72" />
        <icon height="144" src="resources/ios/icon/icon-72@2x.png" width="144" />
        <icon height="76" src="resources/ios/icon/icon-76.png" width="76" />
        <icon height="152" src="resources/ios/icon/icon-76@2x.png" width="152" />
        <icon height="167" src="resources/ios/icon/icon-83.5@2x.png" width="167" />
        <icon height="29" src="resources/ios/icon/icon-small.png" width="29" />
        <icon height="58" src="resources/ios/icon/icon-small@2x.png" width="58" />
        <icon height="87" src="resources/ios/icon/icon-small@3x.png" width="87" />
        <splash height="1136" src="resources/ios/splash/Default-568h@2x~iphone.png" width="640" />
        <splash height="1334" src="resources/ios/splash/Default-667h.png" width="750" />
        <splash height="1536" src="resources/ios/splash/Default-Landscape@2x~ipad.png" width="2048" />
        <splash height="768" src="resources/ios/splash/Default-Landscape~ipad.png" width="1024" />
        <splash height="2048" src="resources/ios/splash/Default-Portrait@2x~ipad.png" width="1536" />
        <splash height="1024" src="resources/ios/splash/Default-Portrait~ipad.png" width="768" />
        <splash height="960" src="resources/ios/splash/Default@2x~iphone.png" width="640" />
        <splash height="480" src="resources/ios/splash/Default~iphone.png" width="320" />
        <icon height="1024" src="resources/ios/icon/icon-1024.png" width="1024" />
        <splash height="2208" src="resources/ios/splash/Default-736h.png" width="1242" />
        <splash height="1242" src="resources/ios/splash/Default-Landscape-736h.png" width="2208" />
        <splash height="2048" src="resources/ios/splash/Default-Landscape@~ipadpro.png" width="2732" />
        <splash height="2732" src="resources/ios/splash/Default-Portrait@~ipadpro.png" width="2048" />
        <splash height="2732" src="resources/ios/splash/Default@2x~universal~anyany.png" width="2732" />
        <custom-resource catalog="frame00" idiom="universal" scale="1x" src="resources/ios/frames/frame00.png" type="image" />
        <custom-resource catalog="frame01" idiom="universal" scale="1x" src="resources/ios/frames/frame01.png" type="image" />
        <custom-resource catalog="frame02" idiom="universal" scale="1x" src="resources/ios/frames/frame02.png" type="image" />
        <custom-resource catalog="frame03" idiom="universal" scale="1x" src="resources/ios/frames/frame03.png" type="image" />
        <custom-resource catalog="frame04" idiom="universal" scale="1x" src="resources/ios/frames/frame04.png" type="image" />
        <custom-resource catalog="frame05" idiom="universal" scale="1x" src="resources/ios/frames/frame05.png" type="image" />
        <custom-resource catalog="frame06" idiom="universal" scale="1x" src="resources/ios/frames/frame06.png" type="image" />
        <custom-resource catalog="frame07" idiom="universal" scale="1x" src="resources/ios/frames/frame07.png" type="image" />
        <custom-resource catalog="frame08" idiom="universal" scale="1x" src="resources/ios/frames/frame08.png" type="image" />
        <custom-resource catalog="frame09" idiom="universal" scale="1x" src="resources/ios/frames/frame09.png" type="image" />
        <custom-resource catalog="frame10" idiom="universal" scale="1x" src="resources/ios/frames/frame10.png" type="image" />
        <custom-resource catalog="frame11" idiom="universal" scale="1x" src="resources/ios/frames/frame11.png" type="image" />
        <custom-resource catalog="frame12" idiom="universal" scale="1x" src="resources/ios/frames/frame12.png" type="image" />
        <custom-resource catalog="frame13" idiom="universal" scale="1x" src="resources/ios/frames/frame13.png" type="image" />
        <custom-resource catalog="frame14" idiom="universal" scale="1x" src="resources/ios/frames/frame14.png" type="image" />
        <custom-resource catalog="frame15" idiom="universal" scale="1x" src="resources/ios/frames/frame15.png" type="image" />
        <custom-resource catalog="frame16" idiom="universal" scale="1x" src="resources/ios/frames/frame16.png" type="image" />
        <custom-resource catalog="frame17" idiom="universal" scale="1x" src="resources/ios/frames/frame17.png" type="image" />
        <custom-resource catalog="frame18" idiom="universal" scale="1x" src="resources/ios/frames/frame18.png" type="image" />
        <custom-resource catalog="frame19" idiom="universal" scale="1x" src="resources/ios/frames/frame19.png" type="image" />
        <custom-resource catalog="frame20" idiom="universal" scale="1x" src="resources/ios/frames/frame20.png" type="image" />
        <custom-resource catalog="frame21" idiom="universal" scale="1x" src="resources/ios/frames/frame21.png" type="image" />
        <custom-resource catalog="frame22" idiom="universal" scale="1x" src="resources/ios/frames/frame22.png" type="image" />
        <custom-resource catalog="frame23" idiom="universal" scale="1x" src="resources/ios/frames/frame23.png" type="image" />
        <custom-resource catalog="frame24" idiom="universal" scale="1x" src="resources/ios/frames/frame24.png" type="image" />
        <custom-resource catalog="frame25" idiom="universal" scale="1x" src="resources/ios/frames/frame25.png" type="image" />
        <custom-resource catalog="frame26" idiom="universal" scale="1x" src="resources/ios/frames/frame26.png" type="image" />
        <custom-resource catalog="frame27" idiom="universal" scale="1x" src="resources/ios/frames/frame27.png" type="image" />
        <custom-resource catalog="frame28" idiom="universal" scale="1x" src="resources/ios/frames/frame28.png" type="image" />
        <custom-resource catalog="frame29" idiom="universal" scale="1x" src="resources/ios/frames/frame29.png" type="image" />
        <custom-resource catalog="frame30" idiom="universal" scale="1x" src="resources/ios/frames/frame30.png" type="image" />
        <custom-resource catalog="frame31" idiom="universal" scale="1x" src="resources/ios/frames/frame31.png" type="image" />
        <custom-resource catalog="frame32" idiom="universal" scale="1x" src="resources/ios/frames/frame32.png" type="image" />
    </platform>
    <preference name="OverrideUserAgent" value="Mozilla/5.0 My Browser" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="ScrollEnabled" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="LoadUrlTimeoutValue" value="700000" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="SplashScreen" value="false" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="AnimatedSplashScreenAnimationDuration" value="5" />
    <preference name="AnimatedSplashScreenAnimationRepeatCount" value="0" />
    <preference name="AnimatedSplashScreenIosImages" value="frame00.png,frame01.png,frame02.png,frame03.png,frame04.png,frame05.png,frame06.png,frame07.png,frame08.png,frame09.png,frame10.png,frame11.png,frame12.png,frame13.png,frame14.png,frame15.png,frame16.png,frame17.png,frame18.png,frame19.png,frame20.png,frame21.png,frame22.png,frame23.png,frame24.png,frame25.png,frame26.png,frame27.png,frame28.png,frame29.png,frame30.png,frame31.png,frame32.png" />
    <preference name="AnimatedSplashScreenAndroidImages" value="frame00,frame01,frame02,frame03,frame04,frame05,frame06,frame07,frame08,frame09,frame10,frame11,frame12,frame13,frame14,frame15,frame16,frame17,frame18,frame19,frame20,frame21,frame22,frame23,frame24,frame25,frame26,frame27,frame28,frame29,frame30,frame31,frame32" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <edit-config file="*-Info.plist" mode="merge" target="NSCameraUsageDescription">
        <string>Need camera access to take pictures</string>
    </edit-config>
    <edit-config file="*-Info.plist" mode="overwrite" target="NSPhotoLibraryUsageDescription">
        <string>Used to allow the user to select media to upload to us</string>
    </edit-config>
    <plugin name="com-sarriaroman-photoviewer" spec="^1.1.16" />
    <plugin name="cordova-android-play-services-gradle-release" spec="^1.3.1">
        <variable name="PLAY_SERVICES_VERSION" value="16.+" />
    </plugin>
    <plugin name="cordova-plugin-admob-free" spec="^0.15.0" />
    <plugin name="cordova-plugin-camera" spec="^2.4.1">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="take avatar" />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="chose avatar" />
    </plugin>
    <plugin name="cordova-plugin-console" spec="^1.1.0" />
    <plugin name="cordova-plugin-device" spec="^2.0.2" />
    <plugin name="cordova-plugin-geolocation" spec="^2.4.3">
        <variable name="GEOLOCATION_USAGE_DESCRIPTION" value="To locate you" />
    </plugin>
    <plugin name="cordova-plugin-google-analytics" spec="^1.8.3" />
    <plugin name="cordova-plugin-inappbrowser" spec="^2.0.2" />
    <plugin name="cordova-plugin-ionic-keyboard" spec="~2.0.5" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.1" />
    <plugin name="cordova-plugin-request-location-accuracy" spec="^2.2.3" />
    <plugin name="cordova-plugin-screen-orientation" spec="^3.0.1" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.2" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-x-socialsharing" spec="^5.3.2" />
    <plugin name="cordova-plugin-x-toast" spec="^2.6.2" />
    <plugin name="cordova-sqlite-storage" spec="^2.1.3" />
    <plugin name="cordova.plugins.diagnostic" spec="^4.0.7" />
    <plugin name="cordova-plugin-calendar" spec="^5.1.0" />
    <plugin name="onesignal-cordova-plugin" spec="2.1.0" />
    <plugin name="cordova-plugin-datepicker" spec="~0.9.3" />
    <plugin name="cordova-plugin-animated-splashscreen" spec="^1.1.3" />
    <engine name="android" spec="6.3.0" />
    <engine name="ios" spec="4.5.4" />
    <engine name="browser" spec="5.0.3" />
</widget>
