page-profile {
	.item-ios-dark {
		color: #fff;
		background-color: #6A5268;
	}
	.profile-avatar{
		width:100px;
		height:100px;
		border-radius:0%;
		overflow:hidden;
	}
	.edit-form{
		.item{
			&.input-has-focus{
				.item-inner{
					border-bottom-color:#C3C0B9;
				}
			}
		}
	}
}
