page-petinfo {
	.content{
		background:url(../assets/images/petpage.png);
		background-size:100% auto;
		}
	.select-option {
		max-width: 100%;
		color: #fff;
		}
	.profile-avatar{
		width:150px;
		height:150px;
		border: 2px solid #373A36;
    border-radius: 25px;
		overflow:hidden;
	}
}
